$black: #22252c;
$white: #ddd;

$blue: #70abeb;
$green: #a1c37e;
$yellow: #d2bc82;
$purple: #bc79d9;
$red: #d17275;

$space: 0.2em;

$h1size: $space * 10;
$h2size: $space * 8;
$h3size: $space * 6;
$h4size: $space * 4;
